<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/admin_style.css">
</head>
<style>
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
body{
    font-family: 'Hanna', sans-serif;
}
</style>

<body>
    
    <div class= "name">
        <h1 class ="center"> 사용자 관리 </h1> 
        <div class = "container">
            <div class = "samsoo">
                <img src="/img/이미지.png" alt="My Image">
            </div>
        </div>
     </div>
    <div class= "mange">
        <div class = "request_register">
        <h4>가입요청 명단</h4>
            <div class = "request_register_semi">
                    <div class="row g-3"> <!--가입요청 명단 양식 -->
                          <input type="text" class="form-control" placeholder= "이름" aria-label="이름">
                          <input type="text" class="form-control" placeholder="아이디" aria-label="아이디">
                          <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
                          <input type="file" accept="image/jpeg,.txt"/>
                          <button type="button" onclick="alert('승인되었습니다')">승인</button>
                          <button type="button" onclick="alert('거절되었습니다')">거절</button>
                      </div>
            </div>
        </div>
        
        <div class = "user_register">
        <h4>사용자 명단</h4>
            <div class = "request_register_semi">
                <div class="row g-3"> <!--사용자 명단 양식 -->
                    <input type="text" class="form-control" placeholder="이름" aria-label="이름">
                    <input type="text" class="form-control" placeholder="아이디" aria-label="아이디">
                    <input type="text" class="form-control" placeholder="Zip" aria-label="Zip">
                    <input type="file" accept="image/jpeg,.txt"/>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align : center;" >&copy; 2022 SAMSSO</p>
</body>
</html>
