<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>SAMSSO</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <style>
    @import url(//fonts.googleapis.com/earlyaccess/hanna.css);
    button {

      margin: 10px;



      background-color: hsl(215, 58%, 74%);
      box-shadow: 0px 4px #5e8e9b;
      color: white;
      padding: 15px 20px;
      font-size: 22px;
      font-family: 'Hanna', sans-serif;
  


      border-radius: 30px;

    }
    p{
      font-family: 'Hanna', sans-serif;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">

</head>

<body class="text-center">

  <main class="form-signin">


    <h1>

    </h1>
    <img class="mb-4" src="/img/이미지.png" alt="" width="200" height="190">
    <br>
    <br>

    <button type="submit" onclick="locatin.href='login'"id ="button" >로그인</button>

    <button type="submit" onclick="locatin.href='register'" id="button">회원가입</button>


    <button type="submit" onclick="locatin.href='admin_login'"id="button">관리자 모드</button>

    <p class="mt-5 mb-3 text-muted">&copy;samsso home</p>


</html>