<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
    <script src = "/js/home/login.js" defer></script>
    <title>삼쏘 로그인화면</title>
    
</head>
<body>
    <div class = "loginBox">
        <div class = "loginBox__item">
        <p>app을 이용하려면 로그인하세요</p>
        <p>ID : <input id = "id"/></p>
        <p>P/W : <input id= "psword" type ="password"/></p>
        <p id="button">로그인</p>
        <p>
        </p>
        <a href="https://www.naver.com/">비밀번호 찾기</a>
        <a href="https://www.naver.com/">아이디 찾기</a>
        <a href="join.ejs">회원가입</a>
        </div>        
    </div>
</body>
</html>