<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">
  <title>SAMSSO</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">



  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <style>
    @import url(//fonts.googleapis.com/earlyaccess/hanna.css);

    .txt span {
      position: relative;
      display: inline-block;
      color: rgb(83, 100, 211);
      letter-spacing: -0.8px;
      animation: txtup 1.5s infinite;
      -webkit-animation: txtup 1.5s infinite;
      -ms-animation: txtup 1.5s infinite;
      -moz-animation: txtup 1.5s infinite;
    }

    .txt span:nth-of-type(1) {
      animation-delay: 0.1s;
    }

    .txt span:nth-of-type(2) {
      animation-delay: 0.2s;
    }

    .txt span:nth-of-type(3) {
      animation-delay: 0.3s;
    }

    .txt span:nth-of-type(4) {
      animation-delay: 0.4s;
    }

    .txt span:nth-of-type(5) {
      animation-delay: 0.4s;
    }

    @-webkit-keyframes txtup {
      0% {
        top: 0;
      }

      20% {
        top: -0.2rem;
      }

      40% {
        top: 0;
      }

      60% {
        top: 0;
      }

      80% {
        top: 0;
      }

      100% {
        top: 0
      }
    }

    @keyframes txtup {
      0% {
        top: 0;
      }

      20% {
        top: -0.2rem;
      }

      40% {
        top: 0
      }

      60% {
        top: 0
      }

      80% {
        top: 0
      }

      100% {
        top: 0
      }
    }

    button {

      margin: 10px;



      background-color: hsl(215, 58%, 74%);
      box-shadow: 0px 4px #5e8e9b;
      color: white;
      padding: 15px 20px;
      font-size: 22px;
      font-family: 'Hanna', sans-serif;



      border-radius: 30px;

    }

    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    body {
      font-family: 'Hanna', sans-serif;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="css/signin.css" rel="stylesheet">

</head>

<body class="text-center">

  <main class="form-signin">


    <img class="mb-4" src="/img/이미지.png" alt="" width="200" height="190">
    <h1 class="txt" style="font-size: 15px">
      <%=id%>님
        <span>어</span>
        <span>서</span>
        <span>오</span>
        <span>세</span>
        <span>요</span>
        <br>
        인증을 위해 QR코드 발급 버튼을 눌러주세요
    </h1>
    <form action="/scan?id=<%=id%>" method="POST" class="form">
    <button type="submit" id="button">QR코드 발급</button>
  </form>


    <p class="mt-5 mb-1">&copy; 2022 SAMSSO</p>


</html>