<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
    <link rel="stylesheet" href="css/style.css" type="text/css"/>
=======
    <script src = "/js/home/login.js" defer></script>
>>>>>>> 08af7ed75254673c6aec8ce78ef24738046c6c9f
    <title>삼쏘 로그인화면</title>
    
</head>
<body>
<<<<<<< HEAD
    <div class = "loginBox">
        <div class = "loginBox__item">
        <p>app을 이용하려면 로그인하세요</p>
        <p>ID : <input/></p>
        <p>P/W : <input type ="password"/></p>
        <button type ="button">로그인</button>
        <p>
        </p>
        <a href="https://www.naver.com/">비밀번호 찾기</a>
        <a href="https://www.naver.com/">아이디 찾기</a>
        <a href="join.ejs">회원가입</a>
        </div>        
    </div>
=======
    <p>app을 이용하려면 로그인하세요</p>
    <div class="login">
    <div class="ID">
        <p>ID : <input id="id" type="text"/></p></div>
    <div class="passwd">
        <p>P/W : <input id="psword" type ="password"/></p></div>
    </div class="button"> 
        <button type ="button">로그인</button></div>
</div>

    <p>
        
    </p>
    <a href="https://www.naver.com/">비밀번호 찾기</a>
    <a href="https://www.naver.com/">아이디 찾기</a>
    <a href="https://www.naver.com/">회원가입</a>
>>>>>>> 08af7ed75254673c6aec8ce78ef24738046c6c9f

</body>
</html>